<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Activités pour les enfants", activities_path %>
<br>
<%= link_to "Activités pour les adultes", grown_activities_path%>
