<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Création d'une activitée pour adulte</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
