<div class="container">
  <div class="row">
    <!-- description de l'activité -->
    <div class="col-xs-12 col-sm-9">
      <h1><%= @activity.title %></h1>

      <h2><%= @activity.subtitle %></h2>

      <% if user_signed_in? %>
        <% if current_user.admin %>
          <p><%= link_to "Modifier l'activité", edit_activity_path(@activity) %></p>
        <% end %>
      <% end %>
    </div>

    <!-- Lien pour inscritption -->
    <div class="col-xs-12 col-sm-3">
      <h3> Inscrire mon enfant </h3>
        <%= render 'inscriptions/form' %>
    </div>
  </div>
</div>
